stage('Update Kubernetes Deployment') {
    steps {
        withCredentials([file(credentialsId: 'kubeconfig', variable: 'KUBECONFIG')]) {
            sh '''
              export KUBECONFIG=$KUBECONFIG
              kubectl get nodes
              kubectl rollout status deployment/my-app -n default || true
              kubectl set image deployment/my-app my-app=ankits554/my-kube-app:10 -n default
              kubectl rollout status deployment/my-app -n default
            '''
        }
    }
}
